.authentication-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%
}

.authentication-wrapper .authentication-inner {
    width: 100%
}

.authentication-wrapper.authentication-1,
.authentication-wrapper.authentication-2,
.authentication-wrapper.authentication-4 {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.authentication-wrapper.authentication-1 .authentication-inner {
    max-width: 300px
}

.authentication-wrapper.authentication-2 .authentication-inner {
    max-width: 380px
}

.authentication-wrapper.authentication-3 {
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch
}

.authentication-wrapper.authentication-3 .authentication-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: stretch;
    justify-content: stretch
}

.authentication-wrapper.authentication-4 .authentication-inner {
    max-width: 800px
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .authentication-wrapper:after {
        content: '';
        display: block;
        -ms-flex: 0 0 0%;
        flex: 0 0 0%;
        min-height: inherit;
        width: 0;
        font-size: 0
    }
}