 /*####################################### BILAL#################################3*/
 
 #tabing {
     margin-top: 5%;
 }
 
 #tabing .red_tab {
     color: #080808;
 }
 
 #tabing .bg_tab_border {
     background: #fafafa;
     border: 1px solid #0da1ec;
     color: black;
     padding: 4% 3%;
     text-align: left!important;
 }
 
 #tabing .tab_1_space {
     margin: 2% 0%;
 }
 
 #tabing .bg_tab_payment {
     background: #fafafa;
     color: black;
     padding: 4% 3%;
     text-align: left!important;
     float: left;
     width: 100%
 }
 
 #tabing .gray_tab {
     color: #a8a8a8;
 }
 
 #tabing .pos {
     position: relative;
     top: -8px;
 }
 
 #tabing .table>tbody>tr>td,
 .table>tbody>tr>th,
 .table>tfoot>tr>td,
 .table>tfoot>tr>th,
 .table>thead>tr>td,
 .table>thead>tr>th {
     border-top: 0!important;
 }
 
 #tabing .mt_tab {
     margin-top: 3%;
 }
 
 #tabing .fonth_tab {
     font-size: 17px;
 }
 
 #tabing .done {
     float: left;
     width: 100%;
     margin-top: 6%;
     color: black;
 }
 
 #tabing .confrm_btnn {
     background: #ff9e11!important;
     padding: 12px!important;
     border: #ff9e11!important;
 }
 
 #tabing .cod {
     width: 5%;
     margin-left: 12px;
 }
 
 #tabing .stripe {
     width: 6%;
     margin-left: 12px;
 }
 
 #tabing .co {
     width: 3%;
     /* padding-left: 17px; */
     margin-left: 12px;
 }
 /*####################################### BILAL#################################3*/
 /*-------- 1.2 Buttons --------*/
 
 #sub_content_in p {
     color: #fff;
     font-size: 24px;
     font-weight: 300;
 }
 /* Main area  */
 
 main {
     background: #fff;
     z-index: 2;
     position: relative;
 }
 /*============================================================================================*/
 /* 2.  CONTENT  */
 /*============================================================================================*/
 /*-------- 2.1 Home --------*/
 /*-------- 2.4 Quotation --------*/
 /*-------- 2.5 Quotation --------*/
 
 .button-back {
     float: left;
 }
 
 .button-next {
     float: right;
 }
 
 a.button-back,
 a.button-next {
     text-decoration: none;
     color: #fff;
 }
 
 .button-back,
 .button-next {
     border: none;
     font-family: inherit;
     font-size: inherit;
     color: #fff;
     background: #f33f3f;
     cursor: pointer;
     padding: 7px 20px;
     display: inline-block;
     outline: none;
     font-size: 12px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     text-transform: uppercase;
     font-weight: 600;
     margin-top: 20px;
 }
 
 .button-back:hover,
 .button-next:hover {
     background: #333;
     text-decoration: none;
 }
 
 #custom .step {
     clear: left;
     background: #fff;
     margin: 0;
     border: 0;
     height: auto;
 }
 
 #custom .step label {
     display: block;
     position: absolute;
 }
 
 #custom .step legend {
     font-size: 11px
 }
 
 #custom .step .form-group {
     margin-bottom: 20px;
 }
 
 #custom .step h3 {
     margin: 0 0 20px 0;
 }
 
 ul.stepy-titles {
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
 .stepy-titles {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     margin-bottom: 0;
     height: 40px;
 }
 
 .stepy-titles li:first-child {
     margin-left: 0;
 }
 
 .stepy-titles li {
     list-style-type: none;
     color: white;
     text-transform: uppercase;
     font-size: 12px;
     width: 33.33%;
     float: left;
     position: relative;
     letter-spacing: 1px;
     height: 24px;
     margin-left: -20px;
 }
 
 .stepy-titles li:before {
     content: '';
     width: 90%;
     height: 24px;
     line-height: 26px;
     display: block;
     font-size: 12px;
     color: #333;
     background: #c3c1c1;
     border-radius: 0px;
     margin: 0 auto -20px auto;
     border-top: 11px solid transparent;
     border-bottom: 13px solid transparent;
     border-left: 15px solid white;
 }
 
 .stepy-titles li:after {
     content: " ";
     position: absolute;
     top: 0px;
     right: 0px;
     width: 0;
     height: 0;
     border-top: 11px solid transparent;
     border-bottom: 13px solid transparent;
     border-left: 19px solid #c3c1c1;
     z-index: 2;
     transition: border-color 0.2s ease;
 }
 
 .stepy-titles li span {
     font-size: 11px;
     display: block;
     font-weight: normal;
 }
 
 .stepy-titles .current-step:before,
 .stepy-titles .current-step:after {
     content: '';
     line-height: 26px;
     display: block;
     font-size: 12px;
     color: #333;
     background: #f33f3f;
     border-radius: 0px;
     margin: 0 auto -20px auto;
 }
 
 .stepy-titles li.current-step:after {
     content: " ";
     position: absolute;
     top: 0px;
     right: 0px;
     width: 0;
     height: 0;
     border-top: 11px solid transparent;
     border-bottom: 13px solid transparent;
     border-left: 19px solid #f33f3f;
     z-index: 2;
     background: none !important;
     transition: border-color 0.2s ease;
 }
 
 .form-control.error {
     background: #fdf5f5
 }
 
 .stepy-error {
     display: block;
 }
 
 .stepy-error label.error {
     background: #f33f3f url(../img/alert.png) no-repeat 5px center;
     color: #fff;
     display: block;
     display: inline-block;
     font-size: 12px;
     padding: 4px 10px 0px 25px;
     margin: 8px 5px 2px 0;
     -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
     -opera-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     position: static;
     line-height: normal;
     font-weight: 500;
 }
 
 .stepy-error label.error:after {
     border-width: 0;
 }
 
 input[type="submit"].finish {
     border: none;
     font-family: inherit;
     font-size: inherit;
     color: #fff;
     background: #f33f3f;
     cursor: pointer;
     padding: 7px 20px;
     display: inline-block;
     outline: none;
     font-size: 12px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     text-transform: uppercase;
     font-weight: 600;
     float: right;
     margin-top: 20px;
 }
 
 input[type="submit"].finish:hover {
     background: #333;
 }
 
 input#website {
     display: none;
 }
 
 .modal-dialog {
     margin-top: 80px;
 }
 
 .styled-select select {
     background: transparent;
     width: 107%;
     padding: 5px;
     padding-left: 15px;
     border: 0;
     border-radius: 0;
     box-shadow: none;
     height: 41px;
     color: #999;
     margin: 0;
     font-weight: 400;
     -moz-appearance: window;
     -webkit-appearance: none;
     cursor: pointer;
     outline: none;
 }
 
 .styled-select select:focus {
     color: #555;
 }
 
 .styled-select {
     width: 100%;
     overflow: hidden;
     height: 44px;
     background: white url(../img/arrow_down.svg) no-repeat right center;
     border: 1px solid #ddd9d1;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
 }
 
 .styled-select select::-ms-expand {
     display: none;
 }
 
 .styled-select select:focus {
     outline: none;
     box-shadow: none;
 }
 
 .box_quote {
     padding-right: 30px;
 }
 
 .box_quote h3 {
     font-size: 32px;
     margin-top: 0;
 }
 
 .box_quote h3 strong {
     color: #f33f3f;
     display: block;
 }
 
 .box_quote ul {
     margin: 0 0 25px 0;
     padding: 0;
     list-style: none;
 }
 
 .box_quote ul li {
     position: relative;
     font-size: 16px;
     padding-left: 30px;
     margin-bottom: 10px;
 }
 
 .box_quote ul li i {
     position: absolute;
     left: 0;
     top: 0;
     font-size: 20px;
 }
 
 a.call_us_bt {
     background-color: #f33f3f;
     color: #fff;
     display: inline-block;
     padding: 10px 15px;
     font-size: 18px;
     font-weight: 600;
 }
 /*-------- 2.6 Tips/faq --------*/
 
 .box_style_4 {
     background: #fafafa;
     padding: 25px;
     margin-bottom: 20px;
     border-top: 3px solid #f33f3f;
 }
 
 .box_style_4 ul {
     padding: 0 0 0 25px;
     margin: 0 0 0 0;
 }
 
 .box_style_4 ul li {
     margin: 0 0 10px 0;
 }
 /*============================================================================================*/
 /* 3.  COMMON  */